*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'lato', sans-serif;
}

::-webkit-scrollbar{
    width: .9em;
}
::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 100vw;
    cursor: none;
}
::-webkit-scrollbar-thumb{
    background: #888;
}
::-webkit-scrollbar-thumb:hover{background:#000;}
/* HEADER */
header {
    height: 140vh;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0, 0.78), rgba(0,0,0, 0.78)), url(img/backgroundimg.jpg);
    background-attachment: fixed;
}
h2{
    color: #ffffff59;
    font-size: 80px;
    text-align: center;
    cursor: pointer;
    transition:all 0.5s;
    margin-top: 40px;
}
h2:hover{color: #fff;}
.row{
    margin-left: 30px;
    padding: 10px 10px;
}
.row p{
    color: #fff;
    margin-left: 40px;
    font-weight: bolder;
    font-size: 15px;
    margin-bottom: 40px;
    margin-top: 2%;
    cursor: pointer;
    text-transform: uppercase;
    word-spacing: 3px;
    letter-spacing: 2px;
    transition: all 3s;
}
.row p:after{display: none; content: ""; height: .5px; width: 64px; background: #fff; margin-left: 6%; border-radius:20%;}
.row p:hover:after{
    display: block;
}
.menubar {
    position: absolute;
    margin-left: 50%;
    margin-top: -6%;
}
.menubar ul {
    list-style: none;
    display: flex;
}

.menubar ul li {
    padding: 10px 30px;
    position: relative;
}
.menubar ul li a {
    text-decoration: none;
    color: #fff;
    transition: all 0.2s;
    text-transform: uppercase;
}
.menubar ul li a:hover{font-weight: bold;}
.dropdownmenu,
.dropdownmenu2 {
    display: none;
}
.menubar ul li:hover .dropdownmenu {display: block; background: #ffffff67; position: absolute; top: 102%; left: 0%;}
.menubar ul li:hover .dropdownmenu ul,
.menubar ul li:hover .dropdownmenu2 ul {display: block; margin: 10px;}
.menubar ul li:hover .dropdownmenu ul li,
.menubar ul li:hover .dropdownmenu2 ul li {width: 150px; padding: 10px;}
.menubar ul li:hover .dropdownmenu2 {display: block; background: #ffffff67; position: absolute; top: 102%; left: 8%;}
.container{
    width:100%;
    height: 20vh;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
}
.swiper{
    width: 80%;
    height: fit-content;
}
.swiper-slide img{
    width: 60%;
    margin-left: 20%;
}
.btn{
    border: none;
    outline: none;
    height: 50px;
    padding: 10px 10px;
    background: #a30303;
    font-size: 15px;
    cursor: pointer;
    margin: 10px auto;
    color: #fff;
    transition: all 0.5s;
    border-radius: 6%;
    width: auto;
}
.swiper .swiper-button-next{
    font-size: 60px;
    color: #fff;
    transition: all 0.4;
}
.swiper .swiper-button-prev{
    font-size: 60px;
    color: #fff;
    transition: all 0.4;
}
.swiper .swiper-button-prev,
.swiper .swiper-button-next:hover{ background: none; color: #888;}
.textbox {
    margin-top: 14%;
    text-align: center;
}

.textbox h9 {
    color: #888;
    font-size: 35px;
    cursor: pointer;
}
.textbox p {
    cursor: pointer;
    color: #fff;
}
.slider {
    margin-top: 10%;
    width: 100%;
    position: absolute;
}
nav{
    width: 31.3%;
    height: 50px;
    background: #888; 
}
nav ul{
    display: flex;
    margin: 0;
    padding: 0 ;
}
nav ul li{ 
    list-style: none;
}
nav ul li a{
    display: block;
    color: #fff;
    padding: 0px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold; 
    line-height: 50px;
    transition: all 0.3s
}
nav ul li a:hover{background: #00000070;}
/* HP LAP DISP */
.hplapsdisp,
.dellapsdisp{
    height: 120vh;
    color: #000;
    box-sizing: border-box;
}
.dellapsdisp{
    height: 80%;
}
.hplapsdisp .hplogo,
.dellogo{
    width: 80px;
    height: 80px;
    margin-left: 47%;
    margin-top: 0;
    background: #fff;
    border-radius: 60%;
    border: 0;
}
.firsthpparent,
.secondparent{
    height:80%;
    margin: 0;
}
.hpparent,
.hpparent2,
.hpparent3{
    display: inline-flex;
    position: absolute;
    margin: 0;
}
.btninf{
    text-transform: uppercase;
    border: -80px;
    border-color: transparent;
    margin: 0;
    cursor: pointer;
    padding: 10px 10px;
    background: none;
    transition: all 5s; 
}
.btninf a{
    text-decoration: none;
    color: #000;
}
.fa-duotone{
    font-size: 30px;
    color: #fff;
}
.fa-angle-right{ 
    display: none; 
    transition: all 3s,
}
.btninf:hover .fa-angle-right{display: inline-flex;}
.btnsee{
    padding: 0;
    margin: 0;
    margin-top: 53%;
    margin-left: 46%;
    text-transform: uppercase;
    color: #000;
    background: transparent;
    background: none;
    border: none;
    cursor: pointer;
}
.btnsee a{
    color: #000;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}


.hplap1{
    width: 30%;
    height: 20%;
    border-radius: 10px;
    padding: 10px 30px;
    margin-left: 20px;
    margin-right: 20px;   
}
#vertical-line{width: 1px; height:636px; background: #8888888e;}
.hlider{
    overflow: hidden;
    width: 100%;
}
.images{
    display: flex;
    width: 125%;
}
.images img{
    width: 80%;
    transition: all 0.15s case;
    background: #fff;
    border-radius: 10px;
}
.images input{
    display: none;
}
.dots{
    display: flex;
    justify-content: center;
    margin: 5px;
}
.dots label{
    height: 20px;
    width:20px;
    margin: 5px;
    border-radius: 50%;
    border: solid #000 1.5px;
    cursor: pointer;
    transition: all 0.15s ease;
}
.dots label:hover{background: #888}
#img1:checked ~ .m1{
    margin-left: 0%;
}
#img2:checked ~ .m2{
    margin-left: -80%;
}
#img3:checked ~ .m3{
    margin-left: -160%;
}
#img4:checked ~ .m4{
    margin-left: -240%;
}
#img5:checked ~ .m5{
    margin-left: -320%;
}

#pmg1:checked ~ .p1{
    margin-left: 0%;
}
#pmg2:checked ~ .p2{
    margin-left: -80%;
}
#pmg3:checked ~ .p3{
    margin-left: -160%;
}
#pmg4:checked ~ .p4{
    margin-left: -240%;
}
#pmg5:checked ~ .p5{
    margin-left: -320%;
}

#pimg1:checked ~ .pi1{
    margin-left: 0;
}
#pimg2:checked ~ .pi2{
margin-left: -80%;
}
#pimg3:checked ~ .pi3{
margin-left: -160%;
}
#pimg4:checked ~ .pi4{
margin-left: -240%;
}
#pimg5:checked ~ .pi5{
margin-left: -320%;
}
#tmg1:checked ~ .t1{
    margin-left: 0;
}
#tmg2:checked ~ .t2{
    margin-left: -80%;
}
#tmg3:checked ~ .t3{
    margin-left: -160%;
}
#tmg4:checked ~.t4{
    margin-left: -240%;
}
#tmg5:checked ~ .t5{
    margin-left: -320%;
}
#timg1:checked ~ .ti1{
    margin-left: 0;
}
#timg2:checked ~ .ti2{
    margin-left: -80%;
}
#timg3:checked ~ .ti3{
    margin-left: -160%;
}
#timg4:checked ~ .ti4{
    margin-left: -240%;
}
#timg5:checked ~ .ti5{
    margin-left: -320%;
}
#tpimg1:checked ~ .tpi1{
    margin-left: 0;
}
#tpimg2:checked ~ .tpi2{
    margin-left: -80%;
}
#tpimg3:checked ~ .tpi3{
    margin-left: -160%;
}
#tpimg4:checked ~ .tpi4{
    margin-left: -240%;
}
#tpimg5:checked ~ .tpi5{
    margin-left: -320%;
}
.hplap1 h3 {
    text-align: center;
    color: #000;
    text-transform: uppercase;
    margin-top: 10%;
    font-weight: bold;
    cursor: pointer;
}
.price{
    text-align: center;
    color: #000;
    font-size: 15px;
    font-style: italic;
    cursor: pointer;
    transition:all 0.5s;
}
.price:hover{color: #888;}
.info{
    text-align: center;
    color:#000;
    line-height: 145%;
    cursor: pointer;
}
.hplap1 .btn{
    margin-left: 30%;
    cursor: pointer;
    transition: all 2s, case;
    
}
.hplap1 .btn:hover{ color: #ffff; font-weight: bold; background: rgba(16, 83, 3, 0.904)}
.stech{
    background-size: cover;
    background: linear-gradient(rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0.78)), url(img/pexels-photo-373543.jpeg);
    background-attachment: fixed;
}
.stech h2{
    margin: 0;
    color: #fff;
    transition: all 1s;
    transform: scale(.8)
}
/* FOOTER */
footer{
    margin-top: 53%;
    background: #888;
    height: 200px;
    width: 100%;
    padding-top: 40px;
    color: #fff;

}
.footercontent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footercontent h3{
    font-size: 1.8rem;
    font-weight: bolder;
    text-transform: capitalize;
    line-height: 3rem;
    margin-top: -1%;
}
.footercontent h3:after{display: block; content:""; height: 2px; width: 320px; background: #fff; border-radius: 20%;}
.footercontent p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.footercontent p a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: lighter;
    transition: all 0.3s,
}
.footercontent p a:hover{ font-weight: bold; color: #000;}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.socials a i{
    margin-left: 40%;
    font-size: 1.5rem;
    transition: all 0.5s;
    padding-right: 50px;
}
.socials a:hover i{ color: #000; cursor: pointer;}
.footerbottom{
    margin: 0;
    height: 50px;
    background: #000;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    margin-top: -2%;
}
.footerbottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    cursor: pointer;
}
.footerbottom span{
    text-transform: uppercase;
    opacity: .4;
    cursor: pointer;
    transition: all 0.3;
}
.footerbottom span:hover{color: #fff; font-weight:bold; opacity: 1;}
.mo{
    opacity: .4;
}
.soldout{
    cursor: pointer;
    margin-left: 22%;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5%;
    background: #a30303;
    width: 200px;
    height: 30px;
    color:#fff;
    padding: 0 10px;
}